html.body{
	width: 100%;
	height: 100%;	
}

.content{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;


}

label, .done{
	margin-top: 10px;
}



.data{
	display: none;
}


.stylish{
	padding: 10px;
	border:1px solid rgba(0, 0, 0, 0.3);
	width: 300px;
	border-radius: 4px;
}







